---

---

<footer>
  <p>&copy; 2024 name by Trident School of Infrmation Technology</p>
</footer>

<style lang="scss">
  footer {
    margin: 80px 0 30px 0;
    text-align: center;
  }

  @media (max-width: 600px) {
    p {
      font-size: 18px;
    }
  }
</style>
