<header>
  <h1>Street shop</h1>

  <nav>
    <a href="header">home</a>
    <a href="about">about</a>
  </nav>
</header>

<style lang="scss">
  header {
    top: 0;
    left: 0;
    width: 100%; /* 幅を100%に設定 */
    box-sizing: border-box; /* パディングとボーダーを幅に含める */
    padding-top: 60px;
    text-align: center;
    justify-content: center; /* アイテムを均等に配置 */
    align-items: center;
    z-index: 1000;
    background-color: #fefefe;
    font-family: "Public Sans", sans-serif;

    h1 {
      font-size: 40px;
      color: #000000;
      margin: 0;
    }

    nav {
      display: flex;
      gap: 50px;
      justify-content: center;
      padding: 60px;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      transition: color 0.3s;

      &:hover {
        color: #0088ff;
      }
    }

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }
</style>
