<header>
  <h1>My shop</h1>
</header>
<nav>
  <a href="home">home</a>
  <a href="about">about</a>
</nav>

<style lang="scss">
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    display: flex;
    justify-content: space-between; /* Ensures items are spaced evenly */
    align-items: center;
    padding: 30px;
    z-index: 1000;
    background-color: #fefefe;
    font-family: "Public Sans", sans-serif;

    h1 {
      font-size: 30px;
      color: #000000;
      margin: 0;
    }

    nav {
      display: flex;
      gap: 20px;
    }

    a {
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      transition: color 0.3s;

      &:hover {
        color: #18476f;
      }
    }

    @media (max-width: 600px) {
      width: 85%;
    }
  }
</style>
